extends layout-particles

block navbar
  #navcol-1.collapse.navbar-collapse
    p.navbar-text.navbar-right
      a.navbar-link.login(href='/login') Log In
      a.btn.btn-default.action-button(role='button', href='/signup') Sign Up

block container
  .row
    .col-lg-6.col-lg-offset-1.col-md-6.col-md-offset-0
      h1#landingpage Open Data Industry Network
      p
        | Odin is out to set new standard guaranteeing control, transparency and compliance of actors involved in user data monetization. 
        | We bring to the user and the digital industry a Web3.0 platform allowing decentralized and secure data storage, multi party acces right and ownership management.
      button.interactive.btn.btn-default.btn-lg.action-button(type='button') Learn More
