.row.interactive
  .col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-lock
      |  Application Owner
    if message.length
      .alert.alert-danger= message
    form(action='/login', method='post')
      .form-group
        label AppName
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-cloud
          input.form-control(type='text', name='applicationName')
      .form-group
        label Password
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-eye-close
          input.form-control(type='password', name='password')
      button.btn.btn-warning.btn-lg(type='submit') Login
    hr
    p
      | Need an account
      a(href='/signup')   Signup
    p
      span.fa.fa-home
      a(href='/')   Odin